.div-icon-less0 {
    background: royalblue;
    border: 1px solid royalblue;
}
.div-icon-0-10 {
    background: skyblue;
    border: 1px solid skyblue;
}
.div-icon-10-20 {
    background: yellow;
    border: 1px solid yellow;
}
.div-icon-20-30 {
    background: orange;
    border: 1px solid orange;
}
.div-icon-30-40 {
    background: orangered;
    border: 1px solid orangered;
}
.div-icon-more40 {
    background: red;
    border: 1px solid red;
}